<md-content scroll ng-class="{min:boolChangeClass}" class="search-toolbar fixed" layout="row" layout-align="center end">
    <md-input-container class="md-icon-right">
        <md-icon md-svg-icon="img/search.svg"></md-icon>
        <input ng-focus="homeCtrl.goToPeopleStep()" class="search-input" tabindex="1" id="filter" aria-label="search">
    </md-input-container>
</md-content>

<md-content class="people-random" layout="row" layout-wrap layout-align="center center" ng-show="!query || (query.length < 1) ? 'animation-show' : 'animation-hide';">
    <div class="people-list-loading" ng-show="homeCtrl.loading" layout="row" layout-wrap layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div flex="100" flex-xs="100" flex-sm="75" flex-gt-sm="40" ng-show="!homeCtrl.loading">
        <h1>Do you know ?</h1>
        <people-card people="homeCtrl.random"></people-card>
    </div>
</md-content>
