/* LOADER I?DICATOR*/
.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.loader #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(.4, 0, .2, 1) infinite, rotate 1.6s linear infinite;
    animation: line 1.6s cubic-bezier(.4, 0, .2, 1) infinite, rotate 1.6s linear infinite
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}

@-webkit-keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

@keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

/*TOOLBAR MENU*/
.toolbar-menu {
    height: 100%;
    margin: 0px 10px 0px 10px;
    border-bottom: 2px solid transparent;
}

.toolbar-menu:not(.active):hover {
    border-bottom: 2px solid white;
}

.toolbar .md-toolbar-tools > h1 {
    height: 100%;
}

.toolbar .md-toolbar-tools h1 {
    font-size: 0.8em;
}

.toolbar .md-toolbar-tools img {
    height: 100%;
    margin-left: -90px;
}

/* EXTEND TOOLBAR */

.extend-toolbar {
    background: url('/img/bg_left.png') no-repeat left,
    url('/img/bg_right.png') no-repeat right;
    top: 0px;
    height: 200px;
    background-color: #0168AB;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    width: 100%;
    z-index: 1;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: transparent;
    color: white;
    position: fixed;
    z-index: 10;
}