<search-bar filtered-people="filteredPeople[0]" query="listCtrl.query" focus="true"></search-bar>

<md-content class="people-list-all md-padding" layout="row" layout-wrap layout-align="center center">
    <people-card class="people-card-list" ng-show="([sfeirien.lastname, sfeirien.firstname] | filter:listCtrl.query).length" ng-repeat="sfeirien in listCtrl.people" flex="100" flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="33" layout="column" people="::sfeirien" describe="false" skill-on="false"></people-card>
    <div ng-show="filteredPeople.length <= 0 && !loading">
        <md-content>
            <h1>No sfeirien found</h1>
        </md-content>
    </div>
</md-content>
